$title-font: Copperplate;
$header-font: Hiragino Kaku Gothic Pro, AppleGothic;
$header-font-alt: Hiragino Maru Gothic ProN, AppleGothic;
$header-font-bold: Hiragino Kaku Gothic StdN, AppleGothic;
$paragraph-font: AppleGothic;

$primary-color: #002060;
$secondary-color: #1A74BA;
$tertiary-color: #ffffff;
$background-color: #1D396B;
$background-gradient: radial-gradient(circle at top right, #141E30, #1D396B 50%);

$navbar-height: 75px;

@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin animation($transition...) {
    -moz-animation:    $transition;
    -o-animation:      $transition;
    -webkit-animation: $transition;
    animation:         $transition;
}

@mixin animation-play-state($value...) {
    -moz-animation-play-state:    $value;
    -o-animation-play-state:      $value;
    -webkit-animation-play-state: $value;
    animation-play-state:         $value;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}

@mixin filter($filters) {
    -moz-filter: $filters;
    -o-filter: $filters;
    -ms-filter: $filters;
    -webkit-filter: $filters;
    filter: $filters;
}

@mixin user-select($option) {
    -moz-user-select: $option;
    -o-user-select: $option;
    -ms-user-select: $option;
    -webkit-user-select: $option;
    user-select: $option;
}

@mixin tap-highlight-color($option) {
    -webkit-tap-highlight-color: $option;
    -o-tap-highlight-color: $option;
    -ms-tap-highlight-color: $option;
    -moz-tap-highlight-color: $option;
}

@mixin center {
    position: absolute;
    left: 50%;
    top: 50%;
    @include transform(translate(-50%, -50%))
}

@mixin center-h {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%))
}

@mixin center-v {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%))
}

@keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeinlong {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeinandout {
    0% { opacity: 1; }
    10% { opacity: 0; }
    50% { opacity: 0; }
    60% { opacity: 1; }
    100% { opacity: 1; }
}

@keyframes fadeinandextend {
    0% { 
        opacity: 0; 
        width: 0px;
        margin-left: 50%;
    }

    50% { 
        opacity: 0; 
        width: 0px;
        margin-left: 50%;
    }

    100% { 
        opacity: 1; 
        width: 100%;
        margin-left: 0%;
    }
}

@keyframes fadeinanddrop {
    0% {
        opacity: 0;
        margin-top: -50px;
    }

    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@keyframes jump {
    0% { margin-top: 0px; }
    25% { margin-top: 0px; }
    50% { margin-top: 20px; }
    75% { margin-top: 0px; }
    100% { margin-top: 0px; }
}

@keyframes jumpup {
    0% { margin-top: 0px; }
    25% { margin-top: 0px; }
    50% { margin-top: -20px; }
    75% { margin-top: 0px; }
    100% { margin-top: 0px; }
}

body, html {
    margin: 0px;
    padding: 0px;
    background-color: $background-color;
}

#nav-bar {
    position: absolute;
    top: 0px;
    z-index: 100;
    background-color: none;
    height: $navbar-height;
    width: 100vw;
    @include transition(all 0.5s);

    * {
        float: left;
    }

    #icon {
        width: 28px;
        height: 28px;
        margin: $navbar-height/2 - 14px;
        margin-right: 0px;
        background-image: url("images/logo_white.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    #title {
        font-family: Copperplate;
        color: $tertiary-color;
        font-size: 40px;
        margin-top: $navbar-height/2 - 20px;
        @include transition(all 0.5s);
    }

    #nav-items {
        float: right;
        position: relative;
        @include transition(all 0.5s);

        .nav-item {
            border: none;
            font-family: $header-font;
            font-size: 20px;
            background: none;
            margin-top: $navbar-height/2 - 17px;
            margin-right: 50px;
            color: $tertiary-color;
            cursor: pointer;
            @include transition(all 0.5s);
            @include user-select(none);
            @include tap-highlight-color(transparent);
            outline-style: none;

            .fixed {
                color: $primary-color;
            }
        
            &:hover {
                color: $secondary-color;
            }
        }

        .hex {
            position: absolute;
            fill: $tertiary-color;
            opacity: 0.4;
            z-index: -1;
            margin-top: $navbar-height/2 - 26px;
            @include transition(all 0.5s);

            .fixed {
                fill: $primary-color;
            }
        }

        .hamburger {
            position: fixed;
            z-index: 999;
            top: 0px;
            right: 0px;
            width: 45px;
            height: 45px;
            margin: 18px 18px;
            cursor: pointer;
            display: none;
            hr {
                width: 100%;
                margin: 5px 0px;
                border: none;
                background: $primary-color;
                height: 3px;
            }
        }
    }

    &.partially-fixed-1 {
        position: absolute;
        top: -100px;

        #icon {
            background-image: url("images/logo_white.png");
        }
    }

    &.partially-fixed-2 {
        position: fixed;
        top: -100px;

        #icon {
            background-image: url("images/logo.png");
        }
    }

    &.fixed {
        position: fixed;
        top: 0px;
        background-color: $tertiary-color;
        border-bottom: 3px solid $background-color;

        #icon {
            background-image: url("images/logo.png");
        }

        #title {
            color: $primary-color;
        }

        #nav-items {    
            .nav-item {
                color: $primary-color;
                
                &:hover {
                color: $secondary-color;
                }
            }
    
            .hex {
                fill: $primary-color;
            }
        }
    }
}

#scroll-hex {
    #scroll-container {
        position: absolute;
        z-index: 10;
        opacity: 0.1;
        width: 52px;
        cursor: pointer;
        @include center-h();
        @include animation(jump 4s ease infinite);
        @include transition(opacity 0.5s, top 1s);

        #arrow {
            color: $background-color;
            font-size: 40px;
            font-family: $header-font;
            position: absolute;
            @include center();
            margin-left: 0px;
        }

        .bghex {
            position: absolute;
            margin-left: -3.25px;
            margin-top: -3.25px;
            fill: $background-color;
            z-index: -1;
        }

        &.rotated {
            @include transform(rotate(180deg) translateX(50%));
            @include animation(jumpup 4s ease infinite);

            #arrow {
                margin-top: -2px;
            }
        }

        &:hover {
            opacity: 0.8;
            @include animation-play-state(paused);
        }

        &.opaque {
            opacity: 1;
            @include animation(none);
        }        
    }
}

.page {
    width: 100vw;
    height: 100vh;
}

#landing {
    background-image: $background-gradient;
    position: relative;
    margin: 0px;
    //margin-top: $navbar-height/2;

    #hexagons {
        .hex {
            position: absolute;
        }

        .hex.animated {
            @include animation(fadeinandout 10s linear infinite);
        }
    }

    #hook {
        color: #FFFFFF80;
        font-family: $paragraph-font;
        font-size: 30px;
        text-align: center;
        @include center();
        @include animation(fadeinanddrop 2s ease);

        #first { @include animation(fadein 2s ease); }
        #second { @include animation(fadeinlong 4s ease); }

        span {
            color: #FFF;
        }

        .line {
            width: 150px;
            height: 3px;
            opacity: 0.2;
            @include center-h();

            .fill {
                background-color: $tertiary-color;
                width: 100%;
                height: 100%;                  
                @include animation(fadeinandextend 4s ease);                   
            }
        
            &#above {
                width: 250px;
                top: -10px;
            }

            &#below {
                bottom: -10px;
            }
        }
    }
}

#mission {
    background: $background-color;
    position: relative;
    overflow: hidden;

    .text {
        color: #FFFFFFFF;
        font-family: $paragraph-font;
        font-size: 22.5px;
        width: 800px;
        text-align: center;
        @include center();
    }

    #author {
        margin-top: 60px;
        margin-left: 225px;
        font-style: italic;
        font-size: 15px;
        color: #FFFFFF80;
        width: auto;
    }

    #quotes {
        .quote-container {
            position: absolute;
        }

        .actual-quote {
            color: $background-color;
            font-family: $header-font-alt;
            font-size: 200px;
            position: absolute;
            top: -34px;
            left: 7.5px;
        }

        #bottom-quote {
            left: 11px;
        }
    }
}

.split {
    height: auto;
    overflow: auto;
    position: relative;

    .half {
        position: relative;
        width: 50%;
        height: 100vh;
        float: left;

        &.blue {
            background-color: $background-color;
            color: $tertiary-color;

            text-align: center;
            font-family: $header-font;
            font-size: 22.5px;

            .text {
                line-height: 100vh;
                z-index: 1;
                position: relative;
            }

            .hexagon-outline {
                position: absolute;
                top: calc(50% - 150px);
                left: calc(50% - 130px);
                margin: auto;
                z-index: 0;

                div {                    
                    .hex {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                    }

                    .bg-hex {
                        left: 4px !important;
                        top: 4px !important;
                        fill: $background-color;
                    }
                }
            }
        }

        &.white {
            text-align: left;
            font-family: $paragraph-font;
            font-size: 15px;
            line-height: 140%;
            padding: 30px;
            padding-top: 100px;
            width: calc(50% - 60px);
            height: auto;
            color: #00000060;
            background-color: white;

            .title {
                font-family: $header-font-bold;
                font-weight: 900;
                color: $background-color;
                font-size: 30px;
                margin-bottom: 20px;
            }
        }
    }
}

#hexagon-graphs {
    width: 100%;
    overflow: auto;

    .graphs {
        display: flex;
        justify-content: space-evenly;
    }

    .first, .second {
        fill: $background-color;
        float: left;
    }

    svg {
        width: 155px;
    }

    .hex {
        position: relative;
    }
}

.graph-text {
    position: absolute;
    top: calc(50% - 1.0em);
    left: 0;
    width: 100%;
    text-align: center;
    color: #FFFFFFB0;
    font-size: 1.5em;

    .big {
        font-size: 1.75em;
        color: #FFFFFF;
    }

    .small {
        font-size: 0.75em;
        color: #FFFFFF70;
    }
}

#impactText {
    &.higher {
        position: absolute;
        bottom: 0px;
    }

    &.fixing {
        position: fixed;
        top: 0px;
    }

    &.higher, &.fixing {
        left: 50%;
    }
}

#teamText {
    &.higher {
        position: absolute;
        bottom: 0px;
    }

    &.fixing {
        position: fixed;
        top: 0px;
    }

    &.higher, &.fixing {
        left: 0px;

        + .right {
            left: 50%;
        }
    }
}

#teamParagraph {
    overflow: hidden;

    .headshot {
        width: 150px;
        float: left;
    }
    
    .bio {
        display: block;
        clear: both;
        margin: 30px 0px;
        font-size: 0.9em;
        line-height: 140%;
        overflow: visible;

        .group {
            float: left;
            width: calc(100% - 153px);
            overflow: auto;
        }

        .headshot {
            margin-right: 10px;
            margin-left: -7px;
        }

        .name {
            float: left;
            font-size: 1.5em;
            display: block;
            margin-right: 4px;
            color: #00000090;
            font-family: $header-font;
        }

        .position {
            font-style: italic;
            padding-top: 4px;
            padding-bottom: 3px;
            color: #00000050;
            text-align: left;
        }

        .text {
            display: block;
        }

        span {
            opacity: 0;
        }

        &:nth-child(2n + 1) {
            .headshot {
                float: right;
                margin-right: -7px;
                margin-left: 10px;
            }
        }
    }

    .bios {
        clear: both;
        display: inline-block;
        margin: 0px calc(50% - 217.5px);

        .row {
            position: relative;
            overflow: auto;
            overflow-x: hidden;
            display: flex;

            .headshot {
                margin-right: -5px;
                float: left;
                margin-bottom: 10px;
            }

            .sponsor-group {
                .title {
                    font-family: $paragraph-font;
                    font-weight: 100;
                    font-size: 1.3em;
                    color: #00000090;
                    text-align: center;
                    margin: 10px 0px;

                    .sub {
                        font-size: 0.75em;
                        color: #00000060;
                    }
                }

                .subtitle {
                    text-align: center;
                }
            }
        }

        .second-row {
            margin-top: -30px;
            margin-left: 72px;
            
        }
    }

    .bio-titles {
        margin-bottom: 120px;
        overflow: auto;

        .group {
            width: 140px;
            text-align: center;

            .title {
                font-size: 1.1em;
                color: #00000090;
                font-family: $header-font;
                font-weight: normal;
                margin-bottom: 5px;
            }

            .sub {
                font-size: 0.7em;
                color: #00000050;
            }

            .subtitle {
                font-size: 0.7;
                color: #00000050;
            }
        }
    }
}

#hexagon-button {
    @include transition(all 0.5s);
    position: absolute;
    top: -95px;
    left: calc(50% - 106px);
    opacity: 0.1;
    cursor: pointer;
    z-index: -1;
}

#contact1 {
    @include transition(all 0.5s);
    @include user-select(none);
    cursor: pointer;
    color: #FFFFFF80;
    font-size: 20px;
}

#contact2 {
    @include transition(all 0.5s);
    @include user-select(none);
    cursor: pointer;
    color: #FFFFFF60;
    font-size: 17px;
}

.contact-text {
    width: 200px !important;
    &:hover {
        #hexagon-button {
            opacity: 0.9;
        }

        #contact1 {
            color: $background-color;
            opacity: 0.8;
        }

        #contact2 {
            color: $background-color;
            opacity: 0.4;
        }
    }
}

@media screen and (min-width: 1280px) {
    #landing {
        width: 100vw;
    }

    #impactContent {
        padding-left: calc(50vw - 610px);
        width: 580px;
    }

    #impactText {
        width: 640px;
    }

    #teamText, #teamText.fixing, #teamText.higher {
        left: calc(50vw - 640px);
        width: 640px;
    }

    #teamText {
        margin-right: calc(50vw - 640px); //320px for 1920, 200px for 1680, 80px for 1440, 0px for 1280
    }

    #teamText.fixing, #teamText.higher {
        margin-right: 0px;
    }

    #teamParagraph {
        width: 580px;
        padding-right: calc(50vw - 610px);
    }
}

.footer {
    color: $tertiary-color;
    font-family: $paragraph-font;
    text-align: center;
    position: absolute;
    bottom: 20px;
    width: calc(100vw - 40px);
    margin-left: 20px;
    color: #FFFFFF40;
}

@media screen and (max-width: 1150px) {
    .bio {
        margin: 100px 0px;
    }
}

@media screen and (max-width: 1100px) {
    .team-member {
        .position {
            clear: both;
            margin-top: 3px;
            margin-bottom: 5px;
        }
    }
}

@media screen and (max-width: 900px) {
    .half {
        width: calc(100% - 60px) !important;
        left: 0% !important;
        margin-left: 0px !important;
    }

    .blue {
        position: relative !important;
        display: none !important;
    }

    .white {
        padding-top: 50px !important;
    }

    #scroll-hex, .nav-hex {
        display: none;
    }

    #hook {
        font-size: 25px !important;
        width: 450px;
    }

    #mission .text {
        width: calc(100% - 100px) !important;
    }

    #mission #author {
        display: none;
    }

    .nav-item {
        width: 100vw !important;
        margin: 0px !important;
        margin-top: 0px !important;
        padding: 0px;
        background-color: $tertiary-color !important;
        height: 0px;
        overflow: hidden;
    }

    .nav-item.expand {
        padding: 25px 0px;
    }

    .nav-item.expand:nth-of-type(5){
        border-bottom: 3px solid $background-color !important;
        padding-bottom: 50px;
    }

    .hamburger {
        display: block !important;
    }

    .bios {
        margin-left: calc(50vw - 115px) !important;

        .sponsor-headshot {
            margin-left: 10px;
            margin-top: 10px;
        }
    }

    .row {
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    #hook {
        font-size: 20px !important;
        color: #FFFFFFA0 !important;
        width: 90% !important;
    }

    #mission .text {
        font-size: 16px !important;
    }

    .bio {
        display: flex !important;
        flex-direction: column;
        height: auto !important;
        margin-top: 0px !important;

        .headshot {
            margin-bottom: 10px;
            margin-left: calc(50% - 75px) !important;
        }

        .team-member {
            width: 100% !important;
        }
    }

    #hexagons {
        opacity: 0.5 !important;
    }
}

$prefix: hex;

$size-list: (
    10   $prefix,
    20   $prefix,
    30   $prefix,
    40   $prefix,
    50   $prefix,
    60   $prefix,
    70   $prefix,
    80   $prefix,
    90   $prefix,
    100  $prefix
);

@each $value in $size-list {
    .#{nth($value, 2)}-#{nth($value, 1)} {
        fill: rgba(255, 255, 255, nth($value, 1)/100);
    }
}

