@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeinlong {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinlong {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeinandout {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeinandout {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeinandextend {
  0% {
    opacity: 0;
    width: 0px;
    margin-left: 50%;
  }
  50% {
    opacity: 0;
    width: 0px;
    margin-left: 50%;
  }
  100% {
    opacity: 1;
    width: 100%;
    margin-left: 0%;
  }
}

@keyframes fadeinandextend {
  0% {
    opacity: 0;
    width: 0px;
    margin-left: 50%;
  }
  50% {
    opacity: 0;
    width: 0px;
    margin-left: 50%;
  }
  100% {
    opacity: 1;
    width: 100%;
    margin-left: 0%;
  }
}

@-webkit-keyframes fadeinanddrop {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeinanddrop {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@-webkit-keyframes jump {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: 0px;
  }
  50% {
    margin-top: 20px;
  }
  75% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes jump {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: 0px;
  }
  50% {
    margin-top: 20px;
  }
  75% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

@-webkit-keyframes jumpup {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: 0px;
  }
  50% {
    margin-top: -20px;
  }
  75% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

@keyframes jumpup {
  0% {
    margin-top: 0px;
  }
  25% {
    margin-top: 0px;
  }
  50% {
    margin-top: -20px;
  }
  75% {
    margin-top: 0px;
  }
  100% {
    margin-top: 0px;
  }
}

body, html {
  margin: 0px;
  padding: 0px;
  background-color: #1D396B;
}

#nav-bar {
  position: absolute;
  top: 0px;
  z-index: 100;
  background-color: none;
  height: 75px;
  width: 100vw;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav-bar * {
  float: left;
}

#nav-bar #icon {
  width: 28px;
  margin: 23.5px;
  margin-right: 0px;
  content: url("images/logo_white.png");
}

#nav-bar #title {
  font-family: Copperplate;
  color: #ffffff;
  font-size: 40px;
  margin-top: 17.5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav-bar #nav-items {
  float: right;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav-bar #nav-items .nav-item {
  border: none;
  font-family: Hiragino Kaku Gothic Pro;
  font-size: 20px;
  background: none;
  margin-top: 20.5px;
  margin-right: 50px;
  color: #ffffff;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav-bar #nav-items .nav-item .fixed {
  color: #002060;
}

#nav-bar #nav-items .nav-item:hover {
  color: #1A74BA;
}

#nav-bar #nav-items .hex {
  position: absolute;
  fill: #ffffff;
  opacity: 0.4;
  z-index: -1;
  margin-top: 11.5px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#nav-bar #nav-items .hex .fixed {
  fill: #002060;
}

#nav-bar.partially-fixed-1 {
  position: absolute;
  top: -100px;
}

#nav-bar.partially-fixed-1 #icon {
  content: url("images/logo_white.png");
}

#nav-bar.partially-fixed-2 {
  position: fixed;
  top: -100px;
}

#nav-bar.partially-fixed-2 #icon {
  content: url("images/logo.png");
}

#nav-bar.fixed {
  position: fixed;
  top: 0px;
  background-color: #ffffff;
  border-bottom: 3px solid #1D396B;
}

#nav-bar.fixed #icon {
  content: url("images/logo.png");
}

#nav-bar.fixed #title {
  color: #002060;
}

#nav-bar.fixed #nav-items .nav-item {
  color: #002060;
}

#nav-bar.fixed #nav-items .nav-item:hover {
  color: #1A74BA;
}

#nav-bar.fixed #nav-items .hex {
  fill: #002060;
}

#scroll-hex #scroll-container {
  position: absolute;
  z-index: 10;
  opacity: 0.1;
  width: 52px;
  cursor: pointer;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-animation: jump 4s ease infinite;
  animation: jump 4s ease infinite;
  -webkit-transition: opacity 0.5s, top 1s;
  transition: opacity 0.5s, top 1s;
}

#scroll-hex #scroll-container #arrow {
  color: #1D396B;
  font-size: 40px;
  font-family: Hiragino Kaku Gothic Pro;
  position: absolute;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 0px;
}

#scroll-hex #scroll-container .bghex {
  position: absolute;
  margin-left: -3.25px;
  margin-top: -3.25px;
  fill: #1D396B;
  z-index: -1;
}

#scroll-hex #scroll-container.rotated {
  -webkit-transform: rotate(180deg) translateX(50%);
  transform: rotate(180deg) translateX(50%);
  -webkit-animation: jumpup 4s ease infinite;
  animation: jumpup 4s ease infinite;
}

#scroll-hex #scroll-container.rotated #arrow {
  margin-top: -2px;
}

#scroll-hex #scroll-container:hover {
  opacity: 0.8;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

#scroll-hex #scroll-container.opaque {
  opacity: 1;
  -webkit-animation: jump 4s ease infinite;
  animation: jump 4s ease infinite;
}

.page {
  width: 100vw;
  height: 100vh;
}

#landing {
  background-image: radial-gradient(circle at top right, #141E30, #1D396B 50%);
  position: relative;
  margin: 0px;
}

#landing #hexagons .hex {
  position: absolute;
}

#landing #hexagons .hex.animated {
  -webkit-animation: fadeinandout 10s linear infinite;
  animation: fadeinandout 10s linear infinite;
}

#landing #hook {
  color: #FFFFFF80;
  font-family: AppleGothic;
  font-size: 30px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-animation: fadeinanddrop 2s ease;
  animation: fadeinanddrop 2s ease;
}

#landing #hook #first {
  -webkit-animation: fadein 2s ease;
  animation: fadein 2s ease;
}

#landing #hook #second {
  -webkit-animation: fadeinlong 4s ease;
  animation: fadeinlong 4s ease;
}

#landing #hook span {
  color: #FFF;
}

#landing #hook .line {
  width: 150px;
  height: 3px;
  opacity: 0.2;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#landing #hook .line .fill {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  -webkit-animation: fadeinandextend 4s ease;
  animation: fadeinandextend 4s ease;
}

#landing #hook .line#above {
  width: 250px;
  top: -10px;
}

#landing #hook .line#below {
  bottom: -10px;
}

#mission {
  background: #1D396B;
  position: relative;
}

#mission .text {
  color: #FFFFFFFF;
  font-family: AppleGothic;
  font-size: 22.5px;
  width: 800px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#mission #author {
  margin-top: 60px;
  margin-left: 225px;
  font-style: italic;
  font-size: 15px;
  color: #FFFFFF80;
}

#mission #quotes .quote-container {
  position: absolute;
}

#mission #quotes .actual-quote {
  color: #1D396B;
  font-family: Hiragino Maru Gothic ProN;
  font-size: 200px;
  position: absolute;
  top: -34px;
  left: 7.5px;
}

#mission #quotes #bottom-quote {
  left: 11px;
}

.split {
  height: auto;
  overflow: auto;
  position: relative;
}

.split .half {
  position: relative;
  width: 50vw;
  height: 100vh;
  float: left;
}

.split .half.blue {
  background-color: #1D396B;
  color: #ffffff;
  text-align: center;
  font-family: Hiragino Kaku Gothic Pro;
  font-size: 22.5px;
}

.split .half.blue .text {
  line-height: 100vh;
  z-index: 1;
  position: relative;
}

.split .half.blue .hexagon-outline {
  position: absolute;
  top: calc(50% - 150px);
  left: calc(50% - 130px);
  margin: auto;
  z-index: 0;
}

.split .half.blue .hexagon-outline div .hex {
  position: absolute;
  top: 0px;
  left: 0px;
}

.split .half.blue .hexagon-outline div .bg-hex {
  left: 4px !important;
  top: 4px !important;
  fill: #1D396B;
}

.split .half.white {
  text-align: justify;
  font-family: AppleGothic;
  font-size: 15px;
  padding: 30px;
  padding-top: 120px;
  width: calc(50vw - 60px);
  height: auto;
  color: black;
  background-color: white;
}

#impactText.higher {
  position: absolute;
  bottom: 0px;
}

#impactText.fixing {
  position: fixed;
  top: 0px;
}

#impactText.higher, #impactText.fixing {
  left: 50vw;
}

#teamText.higher {
  position: absolute;
  bottom: 0px;
}

#teamText.fixing {
  position: fixed;
  top: 0px;
}

#teamText.higher, #teamText.fixing {
  left: 0px;
}

#teamText.higher + .right, #teamText.fixing + .right {
  left: 50vw;
}

.hex-10 {
  fill: rgba(255, 255, 255, 0.1);
}

.hex-20 {
  fill: rgba(255, 255, 255, 0.2);
}

.hex-30 {
  fill: rgba(255, 255, 255, 0.3);
}

.hex-40 {
  fill: rgba(255, 255, 255, 0.4);
}

.hex-50 {
  fill: rgba(255, 255, 255, 0.5);
}

.hex-60 {
  fill: rgba(255, 255, 255, 0.6);
}

.hex-70 {
  fill: rgba(255, 255, 255, 0.7);
}

.hex-80 {
  fill: rgba(255, 255, 255, 0.8);
}

.hex-90 {
  fill: rgba(255, 255, 255, 0.9);
}

.hex-100 {
  fill: white;
}
/*# sourceMappingURL=style.css.map */